<div class="container">
	<h1>Create person</h1>
	<div class="row mt-3">
	
	<form action="/person/create" method="post">
		
		<div class="form-group">
		<label class="col-form-label-lg col-sm-4">name</label>
		<input class="form-control-lg" type="text" name="name"/>
		</div>
		
		<div class="form-group">
		<label class="col-form-label-lg col-sm-4">nick</label>
		<input class="form-control-lg" type="text" name="nick"/>
		</div>	
		
		<div class="form-group">
		<label class="col-form-label-lg col-sm-4" >password</label>
		<input class="form-control-lg" type="password" name="password"/>
		</div>
		
		<div class="form-group">
		<label class="col-form-label-lg col-sm-4" >birth date</label>
		<input class="form-control-lg" type="date" name="birthdate" required="required"/>
		</div>
		
		<div class="form-group">
		<label>birthplace</label>
		<select name="born">
		<option th:each="country:${countries}" th:text="${country.name}" th:value="${country.id}"> </option>
		</select>
		</div>
		
		<div class="form-group">
		<span th:each="hobby:${hobbies}" >
		<input type="checkbox" name="likedHobbies[]" th:value="${hobby.id}" />
		<label th:text="${hobby.name}" ></label>
		</span>
		</div>
		
		<div class="form-group">
		<span th:each="hobby:${hobbies}" >
		<input type="checkbox" name="hatedHobbies[]" th:value="${hobby.id}" />
		<label th:text="${hobby.name}" ></label>
		</span>
		</div>
		
		<input type="submit" value="create person"/>
	</div>
