<div class="container">
<h1>List of persons that are currently in the server</h1>

<table class="table table-striped">
<thead class="thead-light">
<tr>
<th class="col">person</th>
<th>birthplace</th>
<th>liked things</th>
<th>hated things</th>
<th class="col">actions</th>
</tr>
</thead>

<tr th:each="person:${people}">
<td th:text="${person.name}"></td>

<td th:text="${person.born.name}"></td>


<td>
<span th:block th:each="hobby:${person.likedThings}" th:text="|${hobby.name} |"></span>
</td>

<td>
<span th:block th:each="hobby:${person.hatedThings}" th:text="|${hobby.name} |"></span>
</td>

<td>
<form action="/person/update" method="GET">
<input type="hidden" name="id" th:value="${person.id}"/>
<button type="submit">
<img alt="edit" src="/assets/img/edit.png" width="50px"/>
</button>
</form>

<form action="/person/delete" method="POST">
<input type="hidden" name="id" th:value="${person.id}"/>
<button type="submit">
<img alt="delete" src="/assets/img/delete.png" width="50px"/>
</button>
</form>

</td>

</tr>

</table>

</div>